@import "colors";
@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: #dedede;
}

atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor.editor .wrap-guide, atom-text-editor .wrap-guide {
  // color: @syntax-wrap-guide-color;
  background-color: transparent;
  border-left: 1px dashed @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line {
  background-color: #2e2e2e;
}

.syntax--comment {
    color: @monsoon;

    .syntax--storage {
        color: #7bae7b;
        font-weight: bold;
    }
}

.syntax--entity {
    color: #f2c23c;
}
.syntax--attribute-name {
    color: #e4cf94;
}

.syntax--keyword, .syntax--storage, .syntax--punctuation.syntax--parameters {
    color: #f4eeaf;
}
.syntax--keyword.syntax--control, .syntax--parameter {
    color: @hippie-blue;
}
.syntax--keyword.syntax--operator.syntax--logical {
  color: @rob-roy;
}

.syntax--meta {
    &.syntax--brace, &.syntax--curly {
      //  color: #477777;
    }
}

.syntax--constant {
    &.syntax--numeric {
        color: #8cd0d3;
    }
    &.syntax--language {
        color: #f0dfaf;
    }
}

.syntax--invalid.syntax--deprecated {
    text-decoration: underline;
    color: @red; // TODO
}
.syntax--invalid.syntax--illegal {
    color: @red; // TODO
}

.syntax--string {
    color: #d48282;

    .syntax--definition, .syntax--constant.syntax--character.syntax--escape {
         color: #a95f5f;
    }
}
.syntax--regexp {
    .syntax--keyword {
        color: #ea7676;
    }
}

// HTML, XML
.syntax--text.syntax--html, .syntax--text.syntax--xml {
    .syntax--entity.syntax--tag, .syntax--entity.syntax--attribute-name {
        color: #e4cf94;
    }
    .syntax--punctuation.syntax--tag, .syntax--doctype {
        color: #a38636;
    }
}

// JSON
.syntax--source.syntax--json {
    .syntax--constant.syntax--language {
        color: #f0dfaf;
    }
}

// YAML
// .syntax--source.syntax--yaml {
//     .syntax--entity.syntax--tag {
//         color: #e4cf94;
//         .syntax--punctuation {
//             color: #dedede;
//         }
//     }
//     .syntax--constant .syntax--punctuation.syntax--definition {
//         color: #dedede;
//     }
// }

// PHP
.syntax--punctuation.syntax--section.syntax--embedded.syntax--begin.syntax--php, .syntax--punctuation.syntax--section.syntax--embedded.syntax--end.syntax--php {
  color: @dark-sea-green;
}
.syntax--meta.syntax--function-call.syntax--php {
  color: @cadetblue;
}
.syntax--support.syntax--function.syntax--construct.syntax--php {
  color:@dark-khaki;
}
.syntax--variable.syntax--other.syntax--php {
    color: @ship-cove-light;
}


// CSS, LESS, Sass, SCSS
.syntax--source.syntax--css, .syntax--source.syntax--sass {
    .syntax--attribute-name, .syntax--tag {
        &, .syntax--entity {
            color: #e4cf94;
        }
    }
    .syntax--attribute-selector .syntax--definition {
        color: inherit;
    }
    .syntax--operator.syntax--logic {
        color: #e4cf94;
    }
    .syntax--punctuation.syntax--section {
        //color: #477777;
    }
    .syntax--unit {
        color: #8cd0d3;
    }
    .syntax--constant.syntax--other, .syntax--constant.syntax--property-value {
        color: #d48282;
    }
    .syntax--variable {
        color: @ship-cove-light;
    }
}

// Markdown
.syntax--source .syntax--markdown, .syntax--source .syntax--gfm {
    -webkit-font-smoothing: auto;
}
.syntax--source.syntax--markdown, .syntax--source.syntax--gfm {
    .syntax--heading, .syntax--hr {
        color: #f4eeaf;
    }
    .syntax--bold, .syntax--italic {
        color: #f4eeaf;
    }
    .syntax--bold {
        font-weight: bold;
    }
    .syntax--italic {
        font-style: italic;
    }
    .syntax--link {
        .syntax--entity {
            color: #d48282;
        }
        .syntax--link {
            color: #f4eeaf;
        }
    }
    .syntax--quote.syntax--support {
        color: #f4eeaf;
        font-weight: bold;
    }
    .syntax--quote.syntax--comment {
        color: inherit;
    }
    .syntax--raw, .syntax--code .syntax--support.syntax--gfm {
        color: #8cd0d3;
    }
    .syntax--list {
        color: #f4eeaf;
        font-weight: bold;
    }
}


// Sass and css
.syntax--entity.syntax--name.syntax--tag.syntax--scss {
  color: @raw-sienna;
}


.syntax--entity.syntax--other.syntax--attribute-name {
  color: @brandy-punch;
}
.syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class.syntax--css, .syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-element.syntax--css {
  color: @coral-tree;
}
.syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css {
  color: @gold;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--attribute.syntax--scss {
  color: @tan;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--css {
  color: @tan;
}

.syntax--entity.syntax--name.syntax--function.syntax--scss {
  color: @equator;
}

.syntax--support.syntax--type.syntax--property-name.syntax--scss, .syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: @iron;
}

.syntax--meta.syntax--property-list.syntax--scss
.syntax--meta.syntax--at-rule.syntax--import.syntax--scss
.syntax--keyword.syntax--control.syntax--at-rule.syntax--import.syntax--scss {
  color: @dark-sea-green;
  .syntax--punctuation.syntax--definition.syntax--keyword.syntax--scss {
    color: inherit;
  }
}

.syntax--keyword.syntax--control.syntax--at-rule.syntax--import.syntax--scss {
  color: @palegoldenrod;
  .syntax--punctuation.syntax--definition.syntax--keyword.syntax--scss {
    color: inherit;
  }
}

.syntax--support.syntax--function.syntax--misc.syntax--scss {
  color: @indianred;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--placeholder.syntax--scss {
  color: @cadetblue;
}

.syntax--variable.syntax--interpolation.syntax--scss {
  color: @koromiko;
}
